<style type="text/css">

:root { 
    --header-colour: #4d4d4d;
    --table-code-colour: #E8E8E8;
}

body {
    margin: auto;
    margin-top: 0.5em;
    padding-right: 0em;
    padding-left: 0em;
    max-width: 90%; 
    border-left: none;
    border-right: none;
    color: black;
    font-family: "Garamond", "Hoefler Text", Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
    font-weight: normal;
    font-size: 100%;
    line-height: 200%;
}
img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
pre {
    font-family: monospace;
    border: 1px solid gray;
    padding: 0.5em;
    background-color: var(--table-code-colour);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
:not(pre) > code{
    font-family: monospace;
    border: 1px solid gray; 
    padding: 0.25em;
    background-color: var(--table-code-colour);
}
blockquote {
    font-style: italic;
    text-align: justify;
    padding: 0.25em;
    border-left: 2px solid gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: var(--header-colour);
}
a.header {
    font-size: 140%;
}
hr {
    border: 0;
    width: 80%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    color: var(--header-colour);
}
h1 {
        font-size: 140%;
	border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
h1.title {
        font-size: 200%;
	font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}
h1.index a {
	color: var(--header-colour);
}
h2 {
        font-size: 130%;
}

h3 {
        font-size: 120%;
}

h4 {
        font-size: 110%;
}

h5 {
        font-size: 100%;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 70%;
        color: gray;
        text-align: center;
}

table {
    border: 1px solid black;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table thead {
    background-color: var(--table-code-colour);
}

</style>
